{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'analytics.html' %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <meta name="author" content="Vlad Barmichev">

    <title>{% block title %}Владислав Бармичев{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'app.css' %}">
    {% block extra_css %}<!-- Для дополнительных CSS -->{% endblock %}
</head>
<body class="bg-light text-dark loading">

<div id="loader">
    <img src="{% static 'loading.gif' %}" alt="Загрузка...">
</div>

{% if messages %}
    {# Блок вывода сообщений #}
    {% include 'commons/messages.html' with messages=messages %}
{% endif %}

<main role="main" class="container py-4">
    {% block content %}
        <div class="container-fluid">
            <!-- Контент страницы -->
        </div>
    {% endblock %}
</main>

{% include 'footer.html' %}

<script src="{% static 'main.bundle.js' %}"></script>
{% block extra_js %}<!-- Для дополнительных JS -->{% endblock %}

{# Скрипт для слушателей страниц. #}
<script src="{% static 'listeners.bundle.js' %}"></script>

</body>
</html>