<footer class="footer mt-auto py-4 bg-light border-top">
    <div class="container text-center small text-muted">

        <div class="mb-2">
            {% now "Y" as current_year %}
            © {{ current_year }} Владислав Бармичев —
            блог о программировании, науке и мыслях.
        </div>

{#        <div class="mb-2">#}
{#            <a href="/" class="text-decoration-none me-3">Главная</a>#}
{#            <a href="/blog/" class="text-decoration-none me-3">Блог</a>#}
{#            <a href="/about/" class="text-decoration-none me-3">Обо мне</a>#}
{#            <a href="/contact/" class="text-decoration-none">Контакты</a>#}
{#        </div>#}

        <div class="fst-italic mt-3">
            <q>Tu ne cede malis, sed contra audentior ito</q>
        </div>
    </div>
</footer>